<section class="page-section list" id="segment">
    <div class="container">
        
        <div class="row">
         
            <div class="col-md-4">
                <div class="style-col-1">
                    <div class="transparent"></div>
                <div class="panel">
                    <div class="panel-heading">    
                    </div>
                    <div class="panel-body text-center">
                     
                    </div>
                    <ul class="list-group list-group-flush text-center">
                        <li class="list-group-item check-list"><i class="fa fa-check"></i>WEB DESIGN</li>
                        <li class="list-group-item check-list"><i class="fa fa-check"></i>UI DESIGN</li>
                        <li class="list-group-item check-list"><i class="fa fa-check"></i>GRAPHIC DESIGN</li>
                        <li class="list-group-item check-list"><i class="fa fa-check"></i>CORPORATE DESIGN</li>
                        <li class="list-group-item check-list"><i class="fa fa-check"></i>POSTER DESIGN</li>
                    </ul>
                    <div class="panel-footer">
                        <div class="text-center mt-4">
                            <a class="btn btn-outline-light-1">
                                LEARN MORE
                            </a>
                        </div>                   
                    </div>
                </div>
               </div>
            </div>
       
            <div class="col-md-4">
                <div class="style-col-2">
                <div class="panel">
                    <div class="panel-heading">    
                    </div>
                    <div class="panel-body text-center">
                     
                    </div>
                    <ul class="list-group list-group-flush text-center">
                        <li class="list-group-item check-list"><i class="fa fa-check"></i>WEB DESIGN</li>
                        <li class="list-group-item check-list"><i class="fa fa-check"></i>UI DESIGN</li>
                        <li class="list-group-item check-list"><i class="fa fa-check"></i>GRAPHIC DESIGN</li>
                        <li class="list-group-item check-list"><i class="fa fa-check"></i>CORPORATE DESIGN</li>
                        <li class="list-group-item check-list"><i class="fa fa-check"></i>POSTER DESIGN</li>
                    </ul>
                    <div class="panel-footer">
                        <div class="text-center mt-4">
                            <a class="btn btn-outline-light-2">
                                LEARN MORE
                            </a>
                        </div>                   
                    </div>
                </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="style-col-3">
                <div class="panel">
                    <div class="panel-heading">    
                    </div>
                    <div class="panel-body text-center">
                     
                    </div>
                    <ul class="list-group list-group-flush text-center">
                        <li class="list-group-item check-list"><i class="fa fa-check"></i>WEB DESIGN</li>
                        <li class="list-group-item check-list"><i class="fa fa-check"></i>UI DESIGN</li>
                        <li class="list-group-item check-list"><i class="fa fa-check"></i>GRAPHIC DESIGN</li>
                        <li class="list-group-item check-list"><i class="fa fa-check"></i>CORPORATE DESIGN</li>
                        <li class="list-group-item check-list"><i class="fa fa-check"></i>POSTER DESIGN</li>
                    </ul>
                    <div class="panel-footer">
                        <div class="text-center mt-4">
                            <a class="btn btn-outline-light-3">
                                LEARN MORE
                            </a>
                        </div>                   
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>
</section>