<header class="masthead bg-primary text-white text-center" id="home" #home>
    <div class="container d-flex align-items-center flex-column">
        
     
        <h5>PRAGMANILA SOLUTIONS MARKUP TEST</h5>
        <h1 class="shadow-text">YOU SHOULD BUILD THIS <br>SIMPLE, LOGICAL, & STRAIGHTFORWARD</h1>
        <p class="masthead-subheading font-weight-light mb-0">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, </p>
        <div class="text-center mt-4">
            <a class="btn btn-xl btn-outline-light">
                LEARN MORE
            </a>
        </div>
    </div>
 
</header>   
  